* {
    font-family: sans-serif;
}
.form-field {
    border: 0;
    border-bottom: 1px solid grey;
    margin-right: 4px;
}
.form-field:focus {
    outline: 0;
}
.form-button {
    background-color: blue;
    border: 0;
    border-color: gray;
    color: white;
    border-radius: 3px;
}
.form-button:hover {
    background-color: cornflowerblue;
}