body {
    margin: 0;
    overflow: hidden;
  }
.three-quarters {
    width: 75%;
}
.half {
    width: 50%;
}
.one-quarter {
    width: 25%;
}
.split {
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
}
.left { left: 0; }
.right { right: 0; }
.top {top: 0; }
.bottom {bottom: 0; }

.fixed {
    position: fixed;
}
.tall {
    height: 84%;
}
.wide {
    width: 100%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
.horizontal-centered {
    text-align: center;
}
.cardboard {
    background-color: rgba(7,150,34);
    overflow: hidden;
}
.scoreboard {
    background-color: white;
}
.white {
    background-color: white;
}
.blue {
    background-color: royalblue;
}
.card {
    width: 12vmax;
    height: 18vmax;
    position: absolute;
    margin: 0;
    transform-origin: left bottom;
    font-size: 2.5vmax;
    font-family: sans-serif;
    border-style: ridge;
    border-radius: 5px;
    padding-left: 5px;
    user-select: none; 
}
.fan {
    position: absolute;
    left: 37.5%;
    bottom: 0;
}
.fan .card {
    bottom: 0;
}
.fan .card:hover {
    z-index: 1000;
   /* transform: scale(1.2)*/
}
.stack {
    position: absolute;
    top: 10%;
    left: 37.5%;
}
.stack:hover {
    display: flex;
}
.stack:hover .card {
    position: relative;
    margin-right: -10vmax;
}
.red-card { color: red; }