body {
    margin: 0;
    overflow: hidden;
}
.three-quarters {
    width: 75%;
}
.half {
    width: 50%;
}
.one-quarter {
    width: 25%;
}
.split {
    position: absolute;
    /*z-index: 1;*/
    overflow-x: hidden;
    padding-top: 0;
}
.left { left: 0; }
.right { right: 0; }
.top {top: 0; }
.bottom {bottom: 0; }

.fixed {
    position: fixed;
}
.tall {
    height: 100%;
}
.wide {
    width: 100%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
.horizontal-centered {
    text-align: center;
}
.cardboard {
    background-color: rgba(7,150,34);
    overflow: hidden;
}
.scoreboard {
    background-color: white;
}
.white {
    background-color: white;
}
.blue {
    background-color: royalblue;
}
.player-card {
    width: 12vmax;
    height: 18vmax;
    position: fixed;
    margin: 0;
    transform-origin: left bottom;
    font-size: 2.5vmax;
    font-family: sans-serif;
    border-style: ridge;
    border-radius: 5px;
    padding-left: 5px;
    user-select: none; 
}
.player-fan .player-card {
    left: 25%;
    bottom: 0;
    z-index: 101;
}
.player-fan .player-card:hover {
    z-index: 1000;
   /* transform: scale(1.2)*/
}
.other-card {
    width: 2vmax;
    height: 3vmax;
    position: absolute;
    margin: 0;
    transform-origin: left bottom;
    font-size: 0.416666667vmax;
    font-family: sans-serif;
    border-style: ridge;
    border-radius: 5px;
    padding-left: 3px;
    user-select: none;
}
.other-fan-1 {
    position: absolute;
    top: 2%;
    left: 30%;
}
.other-fan-2 {
    position: absolute;
    top: 2%;
    left: 65%
}
.other-fan-3 {
    position: absolute;
    left: 10%;
}
.other-fan-4 {
    position: absolute;
    right:10%;
}
.other-fan-5 {
    position: absolute;
    top: 20%;
    left: 10%;
}
.other-fan-6 {
    position: absolute;
    top: 20%;
    right: 10%;
}
.other-fan-7 {
    position: absolute;
    top: 40%;
    left: 10%;
}
.other-fan-8 {
    position: absolute;
    top: 40%;
    right: 10%;
}
.other-fan-9 {
    position: absolute;
    top: 60%;
    left: 10%;
}
.other-fan-10 {
    position: absolute;
    top: 60%;
    right: 10%;
}
.other-player-name {
    text-shadow: 2px 2px grey;
    color: white;
}
.stack {
    position: fixed;
    bottom: 50%;
    left: 25%;
}
.stack .player-card {
    position: fixed;
    bottom: 50%;
    left: 25%;
}
.stack:hover {
    display: flex;
}
.stack:hover .player-card {
    position: relative;
    margin-right: -10vmax;
}
.red-card { color: red; }

@keyframes to-stack {
    0% {bottom: 0}
    50% {
        bottom: 45%;
    }
    100% {
        bottom: 55%;
    }
}
@keyframes rotate-right {
    0% {}
    50% {transform: rotate3d(0,0,0.1,0.1turn), scale(2)}
    100% {transform: rotate3d(0,0,0.1,0.1turn)}
}
@keyframes rotate-left {
    0% {}
    50% {transform: rotate3d(0,0,0.1,-0.1turn), scale(2)}
    100% {transform: rotate3d(0,0,0.1,-0.1turn)}
}
.play-card {
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.62,1.18,.75,.79);
    animation-fill-mode: forwards;
}
.player-card.left {
    animation-name: to-stack, rotate-left;

}
.player-card.right {
    animation-name: to-stack, rotate-right
}

.box-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1%;
}
.bet-modal input {
    display: block;
}
.bet-modal button {
    float: right
}
.bet-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}